@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<IProduct>

<h1>Product List</h1>

<div class="row mb-3">
    <div class="col-md-2">
        <button class="btn btn-primary">Add Tile Set</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary">Add Stain</button>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="CreateFrame">Add Frame</a>
    </div>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Id: @product.Id</p>
                </div>
            </div>
        </div>
    }
</div>
