@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width: 60%; margin: auto;">
    <div class="text-center mt-4">
        <h2>About</h2>
        <p>Information about our company.</p>
    </div>
    <div class="text-center mt-4">
        <h2>Try out our Crossword Generator</h2>
        <p>Generate your own crosswords easily. Just enter your words, and watch as a crossword appears!</p>
    </div>
    <div class="text-center mt-4">
        <h2>Our other products</h2>
        <p>Explore our range of products.</p>
    </div>
</div>